doctype html
html
  head
    title vish coaching academy 
    block scripts
    block style    
  body
    nav#navbar 
    ul
      div#logo
        img(src="/static/img/logo.png")
        | HDA 
      li #[a(href = "/") Home]  
      li #[a(href = "/") About]
      li #[a(href = "/") Contact us]
      li #[a(href = "/") Services]
      li #[a(href = "/") class info]

    block content
    footer#footer  
      | copyright © 2023 vishdance.com